.text-area {
    margin: 20px;
    width: 300px;
    padding-bottom: 50px;
    padding-right: 70px;
}
.input-group {
    position: absolute;
    left: 150px;

}
.add-button {
    position: absolute;
    width: 80px;
    height: 25px;
    left: 300px;
    top: 115px;
    border-radius: 5px;
    background-color: lightgray;
}
.chose-color {
    position: absolute;
    top: 115px;
    left: 110px;
    border-radius: 5px;
}
.chose {
    font-size: 10px;
    position:absolute;
    top: 120px;
    left: 25px;
}


